### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [32]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [33]:
total_players=purchase_data["SN"].nunique()

In [34]:
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [35]:
#still have to format rpice and total rev
unique_items=purchase_data["Item ID"].nunique()
unique_items
numeric_price = pd.to_numeric(purchase_data['Price']).mean()
avg_price=numeric_price
avg_price
num_of_purchases=purchase_data["Purchase ID"].nunique()
num_of_purchases
rev = purchase_data["Price"].sum()
rev

2379.77

In [36]:
summary_table = pd.DataFrame({"Number of Unique Items": unique_items,
                              "Average Price": [avg_price],
                              "Number of Purchases": [num_of_purchases],
                              "Total Revenue": [rev]})
summary_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [37]:
#this is the right one

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [38]:
gender_count = purchase_data["Gender"].value_counts()
gender_count_df=pd.DataFrame(gender_count)
gender_count_df.index.name = "Name"
gender_count_df
#missing percentages

                       Gender
Name
Male                      652
Female                    113
Other / Non-Disclosed      15

In [39]:
sum=purchase_data["Gender"].value_counts().sum()
percents=gender_count_df["Gender"]/sum*100
percents_df=pd.DataFrame(percents)
percents_df=percents_df["Gender"].map("{0:.2f}%".format)

In [40]:
percents_df=pd.DataFrame(percents_df)
percents_df = percents_df.rename(columns={'Gender': 'Percentage of Players'})
percents_df.index.name = "Name"

In [41]:
gender_percentage_df=pd.merge(percents_df, gender_count_df,on="Name")
gender_percentage_df.index.name = ""
gender_percentage_df=gender_percentage_df.rename(columns={'Gender': 'Total Count'})
gender_percentage_df

                      Percentage of Players  Total Count

Male                                 83.59%          652
Female                               14.49%          113
Other / Non-Disclosed                 1.92%           15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [42]:
#gender_purchase=purchase_data.sort_values(["Gender","Purchase ID"]).mean()
grouped_df=purchase_data.groupby(["Gender"])
grouped_df.count().head(10)
avg_purchase_price=grouped_df['Price'].mean()
avg_purchase_price=pd.DataFrame(avg_purchase_price)
#avg_purchase_price
purchase_total_gender=grouped_df["Price"].sum()
purchase_total_gender=pd.DataFrame(purchase_total_gender)
#purchase_total_gender
analysis1=pd.merge(avg_purchase_price, purchase_total_gender,on="Gender",how="outer")
analysis1 = analysis1.rename(columns={'Price_x': 'Average Purchase Price','Price_y': 'Total Purchase Value'})
#analysis1
analysis2=pd.merge(avg_purchase_price, analysis1,on="Gender",how="outer")
analysis2 = analysis2.rename(columns={'Price': 'Avg Purchase Total per Person'})
analysis2.index.name = "Name"
analysis3=pd.merge(gender_count_df, analysis2,on="Name",how="outer")
analysis3.index.name = ""
analysis3 = analysis3.rename(columns={'Gender': 'Purchase Count'})
analysis3_df=pd.DataFrame(analysis3)
analysis3_df["Average Purchase Price"] = analysis3_df["Average Purchase Price"] .map("${:.2f}".format)
analysis3_df["Avg Purchase Total per Person"] = analysis3_df["Avg Purchase Total per Person"] .map("${:.2f}".format)
analysis3_df["Total Purchase Value"] = analysis3_df["Total Purchase Value"] .map("${:.2f}".format)
analysis3_df

,Purchase Count,Avg Purchase Total per Person,Average Purchase Price,Total Purchase Value
,,,,
Male,652,$3.02,$3.02,$1967.64
Female,113,$3.20,$3.20,$361.94
Other / Non-Disclosed,15,$3.35,$3.35,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [43]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [44]:
purchase_data["Total Count"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
age_counts = purchase_data["Total Count"].value_counts()
age_counts_df = pd.DataFrame(age_counts)
age_counts_df.index.name = "bin"
sum=age_counts_df["Total Count"].sum()
age_percents=age_counts_df["Total Count"]/sum*100
age_percents_df = pd.DataFrame(age_percents)
age_percents_df
age_percents_df.index.name = "bin"
age_demographics=pd.merge(age_percents_df, age_counts_df,on="bin",how="outer")
age_demographics = age_demographics.rename(columns={'Total Count_x': 'Percentage of Players', 'Total Count_y': "Total Count"})
age_demographics.index.name = ""
age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{:.2f}".format)
age_demographics

      Percentage of Players  Total Count

20-24                 46.79          365
15-19                 17.44          136
25-29                 12.95          101
30-34                  9.36           73
35-39                  5.26           41
10-14                  3.59           28
<10                    2.95           23
40+                    1.67           13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [45]:
purchase_data["bin"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
bins = purchase_data.groupby("bin")
bins3=bins.sum()
bins3 = bins3.drop(['Purchase ID', 'Age', 'Item ID'], axis=1)
bins3 = bins3.rename(columns={'Price': 'Total Purchase Value'})

In [46]:
purchase_data["bin"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
bins = purchase_data.groupby("bin")
bins = bins.mean()
bins=pd.DataFrame(bins)
bins2= bins.drop(['Purchase ID', 'Age', 'Item ID'], axis=1)
pur_analysis1=pd.merge(bins2, age_counts_df,on="bin",how="outer")
pur_analysis1
#pur_analysis2 = pur_analysis1.drop(['Average Purchase Price'], axis=1)
pur_analysis2 = pur_analysis1.rename(columns={'Price': 'Average Purchase Price', 'Total Count': "Purchase Count"})
pur_analysis3=pd.merge(bins, pur_analysis2,on="bin",how="outer")
pur_analysis4= pur_analysis3.drop(['Purchase ID', 'Age', 'Item ID'], axis=1)
pur_analysis5 = pur_analysis4.rename(columns={'Price': 'Average Purchase Total per Person'})
pur_analysis6=pd.merge(bins3, pur_analysis5,on="bin",how="outer")
pur_analysis6["Total Purchase Value"] = pur_analysis6["Total Purchase Value"] .map("${:.2f}".format)
pur_analysis6["Average Purchase Total per Person"] = pur_analysis6["Average Purchase Total per Person"] .map("${:.2f}".format)
pur_analysis6["Average Purchase Price"] = pur_analysis6["Average Purchase Price"] .map("${:.2f}".format)
pur_analysis6

#format

,Total Purchase Value,Average Purchase Total per Person,Average Purchase Price,Purchase Count
bin,,,,
<10,$77.13,$3.35,$3.35,23
10-14,$82.78,$2.96,$2.96,28
15-19,$412.89,$3.04,$3.04,136
20-24,$1114.06,$3.05,$3.05,365
25-29,$293.00,$2.90,$2.90,101
30-34,$214.00,$2.93,$2.93,73
35-39,$147.67,$3.60,$3.60,41
40+,$38.24,$2.94,$2.94,13

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [47]:
tp_index = purchase_data.set_index("SN")
top_spenders = tp_index.loc[["Lisosia93", "Idastidru52", "Chamjask73",
                                "Iral74", "Iskadarya95"], ["Price"]]
top_spenders_val_count = top_spenders.index.value_counts()
top_spenders_val_count_df=pd.DataFrame(top_spenders_val_count)
top_spenders_val_count_df = top_spenders_val_count_df.rename(columns={'SN': 'Rename'})
top_spenders_val_count_df.index.name = "SN"
#top_spenders_val_count_df
price_average = top_spenders.groupby("SN")
mean = price_average.mean()
#mean
price_sum = top_spenders.groupby("SN")
sum_top_spenders = price_sum.sum()
#sum_top_spenders
ts_analysis1=pd.merge(sum_top_spenders, mean,on="SN",how="outer")
ts_analysis2=pd.merge(ts_analysis1, top_spenders_val_count_df,on="SN",how="outer")
ts_analysis3=ts_analysis2.rename(columns={'Price_x': 'Total Purchase Value', 'Price_y':'Average Purchase Price', 'Rename':'Purchase Count'})
ts_analysis3["Average Purchase Price"] = ts_analysis3["Average Purchase Price"] .map("${:.2f}".format)
ts_analysis3["Total Purchase Value"] = ts_analysis3["Total Purchase Value"] .map("${:.2f}".format)
ts_analysis3
#put in descending order

            Total Purchase Value Average Purchase Price  Purchase Count
SN
Chamjask73                $13.83                  $4.61               3
Idastidru52               $15.45                  $3.86               4
Iral74                    $13.62                  $3.40               4
Iskadarya95               $13.10                  $4.37               3
Lisosia93                 $18.96                  $3.79               5

In [48]:
#example

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [88]:
item_index = purchase_data.set_index("Item Name")
top_index2 = item_index.loc[["Oathbreaker, Last Hope of the Breaking Storm", "Fiery Glass Crusader", "Extraction, Quickblade Of Trembling Hands", "Nirvana", "Pursuit, Cudgel of Necromancy"], ["Item ID","Purchase ID","Price"]]
top_index2_df=pd.DataFrame(top_index2)
top_index2_count = top_index2_df["Item ID"].value_counts()
top_grouped = top_index2_df.groupby(['Item Name'])
popular1 = pd.DataFrame(top_index2_count)
popular1_df=popular1.rename(columns={'Item ID': 'Purchase Count'})
popular1_df.index.name = "Item ID"
#popular1_df
top_index2_count_df=pd.DataFrame(top_index2_count)
top_index2_count_df=top_index2_count_df.rename(columns={'Item ID': 'Rename'})
top_index2_count_df
top_index2_count_df.index.name = "Item ID"
#top_index2_count_df
pop_analysis1=pd.merge(top_index2_count_df, popular1_df,on="Item ID",how="outer")
pop_analysis2=top_grouped.mean()
pop_analysis2=pop_analysis2.rename(columns={'Price': 'Item Price'})
pop_analysis3=top_grouped.sum()
pop_analysis3=pop_analysis3.rename(columns={'Price': 'Total Purchase Value'})
pop_analysis4=pd.merge(pop_analysis2, pop_analysis3,on="Item Name",how="outer")
pop_analysis5= pop_analysis4.drop(['Purchase ID_x', 'Item ID_y', 'Purchase ID_y'], axis=1)
pop_analysis5_df=pop_analysis5["Item ID_x"].map("{:.0f}".format)
pop_analysis6_df=pd.DataFrame(pop_analysis6_df)
pop_analysis7_df=pd.merge(pop_analysis6_df, pop_analysis5,on="Item Name",how="outer")
pop_analysis7_df=pop_analysis7_df.drop(['Item ID_x_y'], axis=1)
pop_analysis7_df=pop_analysis7_df.rename(columns={'Item ID_x_x': 'Item ID'})
#pop_analysis8_df=pd.merge(pop_analysis7_df, top_index2_count_df,on="Item ID",how="outer")

In [89]:
test= top_grouped['Price'].value_counts()
test_df = pd.DataFrame(test)
test_df

                                                    Price
Item Name                                    Price
Extraction, Quickblade Of Trembling Hands    3.53       9
Fiery Glass Crusader                         4.58       9
Nirvana                                      4.90       9
Oathbreaker, Last Hope of the Breaking Storm 4.23      12
Pursuit, Cudgel of Necromancy                1.02       8

In [90]:
top_index2_df_name = top_index2_df.index.value_counts()
top_index2_df_name_df=pd.DataFrame(top_index2_df_name)
top_index2_df_name_df=top_index2_df_name_df.rename(columns={'Item Name': 'Purchase Count'})
top_index2_df_name_df.index.name = "Item Name"

In [91]:
final_df=pd.merge(top_index2_df_name_df, pop_analysis7_df,on="Item Name",how="outer")
final_df["Total Purchase Value"] = final_df["Total Purchase Value"].map("${:.2f}".format)
final_df["Item Price"] = final_df["Item Price"].map("${:.2f}".format)
final_df

,Purchase Count,Item ID,Item Price,Total Purchase Value
Item Name,,,,
"Oathbreaker, Last Hope of the Breaking Storm",12,178,$4.23,$50.76
Nirvana,9,82,$4.90,$44.10
"Extraction, Quickblade Of Trembling Hands",9,108,$3.53,$31.77
Fiery Glass Crusader,9,145,$4.58,$41.22
"Pursuit, Cudgel of Necromancy",8,19,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [92]:
final_df

,Purchase Count,Item ID,Item Price,Total Purchase Value
Item Name,,,,
"Oathbreaker, Last Hope of the Breaking Storm",12,178,$4.23,$50.76
Nirvana,9,82,$4.90,$44.10
"Extraction, Quickblade Of Trembling Hands",9,108,$3.53,$31.77
Fiery Glass Crusader,9,145,$4.58,$41.22
"Pursuit, Cudgel of Necromancy",8,19,$1.02,$8.16